mixin card-slider(data)
    .card-slider
      h3.block-hd.card-slider__hd Слайдер карточек
      .card-slider__box

    script
        | $(".card-slider__box").lazySlider({
        |    items: window.sliderItems
        | });